<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Is It ... ?</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
        integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/css/roboto.min.css">
  <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/css/material-fullpalette.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:css(.tmp) styles/main.css -->
  <link rel="stylesheet" href="styles/main.css">

  <!-- build:js(.) scripts/vendor.js -->
  <!-- bower:js -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/js/material.min.js"></script>
  <!-- endbower -->
  <!-- endbuild -->

  <!-- build:js({.tmp,app}) scripts/scripts.js -->
  <script src="scripts/app.js"></script>
  <script src="scripts/controllers/main.js"></script>

  <!-- endbuild -->
</head>
<body ng-app="isItApp">

<div class="container">
  <div style="position: relative">
    <div class="bg-extended">
      <div class="align-vertical-center" style="background-color: #2E2E2E;">

        <div class="container" ng-controller="MainCtrl">

          <div class="row" ng-cloak>

            <div class="well col-sm-offset-3 col-sm-6" style="background-color: #212121">

              <form class="well-body" ng-show="response == null">

                <h1 class="text-center"><span class="text-primary-lime">Is it a good idea to</span></h1>

                <div class="form-group label-floating is-focused" autofocus="true" style="margin-top: 25px;">
                  <input id="question" type="text" class="form-control input-custom" ng-model="question"
                         autocomplete="off"
                         ng-keyup="$event.keyCode == 13 && ask()"/>
                </div>

                <br/>
                <b></b>
                <h1 class="text-center">
                  <a class="text-primary-lime pointer" ng-click="ask()">
                    ?
                  </a>
                </h1>

              </form>
              <form class="well-body" ng-show="response != null">


                <h3 class="text-center">
                  <i
                    ng-class="response.category == 'POSITIVE' ? 'smiley-happy fa fa-smile-o' : 'smiley-sad fa fa-frown-o' "
                    class=""></i>
                  <span class="response" ng-class="response.category == 'POSITIVE' ? 'smiley-happy' : 'smiley-sad'">
                    {{response.message}}
                  </span>
                </h3>
                <br><br>
                <h1 class="text-center">
                  <a class="text-primary-lime pointer" ng-click="askAgain()">
                    Ask again ?
                  </a>
                </h1>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $.material.init()
  window.setTimeout(function () {
    $('#question').focus();
  });
  window.setTimeout(function () {
    $('#question').focus();
  }, 500);
</script>

<!-- endbuild -->
</body>
</html>
