<ion-view title="Settings" id="page3" class=" ">
  <ion-content padding="true" class="has-header" style=" color: #FFEB3B !important;
  background-color: #212121 !important;">

    <table style="margin: 30px auto 0;">
      <tr>
        <td style="padding:10px"><h3 style=" color: #FFEB3B !important;">Always be positive</h3></td>
        <td style="padding:10px">
          <input type="checkbox" ng-model="data.positive" ng-change="changed()"/>
        </td>
      </tr>
    </table>

  </ion-content>
</ion-view>
